body {
    background-color: #151515;
}

main {

}

.lading {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    width: 100%;

}

.desc {
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.desc h4 {
    font-size: 25px;

}

.desc h5 {
    font-size: 18px;

}

#h1-colorchange {
    font-size: 50px;
    color: #ff4d06;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff4d06;
    border-radius: 10px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 200%;
    background-color: #ff4d06;

    animation: animate 3s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.box::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    inset: 5px;
}