body {
    background-color: #151515;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.lading {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-family: 'Outfit', sans-serif;
    width: 100%;

}

.desc {
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-right: 50px;
    padding: 10px;
}

.desc h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.desc h5 {
    font-size: 18px;
    margin-left: 20%;
}

.lading div h1 {
    font-size: 50px;
    color: orange;
    animation: changeColor 5s linear infinite;
    margin-left: 10%;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 10px;
}

.desc h2 {
    font-size: 20px;
}


.rainbow-div {
    width: 200px;
    height: 200px;
    background-color: #151515;
    border: 2px orange solid;
    border-radius: 50%;
    box-shadow: 0 0 15px orange;
}