#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: black;
    z-index: 100;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: x-large;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: white;
    background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
    text-transform: uppercase;
    background-size: 400% 100%;
    -webkit-background-clip: text;
    transition: 0.5s ease-in-out;
    text-align: start;
    -webkit-text-fill-color: transparent;
    animation: h1 10s infinite ease;
}

@keyframes h1 {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

/* Menu hamburguer */

.mobile-menu-icon{
    display: none;
}

.mobile-menu {
    display: none;
}

.first-menu li a::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.first-menu li a:hover::after {
    width: 100%;

}
