#projetos {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#0c0a0a 85%, #2f312f 90%, #0c0a0a 20%);
  background-size: 50px 50px;
}

#projetos h1 {
  font-size: x-large;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
  text-transform: uppercase;
  background-size: 400% 100%;
  -webkit-background-clip: text;
  transition: 0.5s ease-in-out;
  text-align: start;
  -webkit-text-fill-color: transparent;
  animation: h1 10s infinite ease;
}

@keyframes h1 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 400%;
  }
}
