#projetos {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#0c0a0a 85%, #2f312f 90%, #0c0a0a 20%);
  background-size: 50px 50px;
}

#projetos h1 {
  font-size: x-large;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
  text-transform: uppercase;
  background-size: 400% 100%;
  -webkit-background-clip: text;
  transition: 0.5s ease-in-out;
  text-align: start;
  -webkit-text-fill-color: transparent;
  animation: h1 10s infinite ease;
}

@keyframes h1 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.area-projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 2;
}

.proj {
  width: 200px;
  height: 300px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 3%;
  background-image: linear-gradient(163deg, #ff9100, #ff009d, #ff2eff, #ff9408 100%);
  border-radius: 6%;
  transition: all .3s;
}

.proj2 {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #1d1d1d;
  transition: all .3s;
  color: white;
  font-family: 'Kanit', sans-serif;
  overflow: hidden;
}

.proj:hover {
  width: 400px;
}

.proj2:hover{
  display: block;
  transform: scale(0.98);
  border-radius: 5%;
  width: 400px;
}

.proj:hover {
  box-shadow: 0px 0px 30px 5px rgba(255, 145, 0, 0.57);
}

.proj2 h3 {
  padding-top: 10px;
  text-align: center;
}

.coluna {
  display: flex;
  flex-direction: row;



}

.proj2 img {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 180px;
  border-radius: 10px;
}

.proj2 h4 {
  position: absolute;

  margin-left: 80%;
}