body {
    background-color: black;
}

.sobre-card {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: auto;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
}

/* Card */

.card {
    position: relative;
    width: 50%;
    height: 300px;
    background-color: #1d1d1d;
    overflow: hidden;
    margin: 10px;
    border-radius: 2%;
}

@media (max-width: 525px) {
    .card {
        width: 90%;
        max-width: 300px;
    }
}

.card::before {
    inset: 100px -110px;
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
    animation: animar 10s linear infinite;
    transition: .5s;
}

@keyframes animar {
    100% {
        transform: rotate(360deg);
    }
}

.card:hover::before {
    inset: -400px -150px;
}

.card::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: #1d1d1d;
    z-index: 1;
    border-radius: 5px;
}

.card-info {
    position: absolute;
    inset: 30px;
    z-index: 2;
    overflow: hidden;
    color: white;
    gap: 5px;
    user-select: none;

}

.card-info ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.card-info ul li {
    margin: 0;
}

.card-info h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 1%;
    background: linear-gradient(90deg, #ff9100, #ff009d, #ff2eff, #ff9408);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    animation: name 5s infinite ease-in;
}

@keyframes name {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.card-info h2 {
    margin-top: 5%;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.card-info h2 span {
    font-weight: 600;
}

.perfil-foto {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    pointer-events: none;
    margin-right: 3%;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

